<div ng-controller="transaksiFingerCtrl">
    <div class="container-fluid">
        <div class="row" ng-show="!is_edit">
            <div class="col-md-12" st-pipe="callServer" st-table="displayed">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Import Data Finger
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="x-header">
                            <div class="row">
                                <form class="form-horizontal form-validation" name="landaform">
                                        <!-- Tarik Data Finger -->
                                        <div class="col-md-12">
                                            <div class="panel panel-blank">
                                                <div class="panel-heading">
                                                    <h2 class="text-left float-left">
                                                        Tarik Data Finger
                                                    </h2>
                                                    <button class="btn btn-success pull-right" style="margin: 1em;" type="file"
                                                        ngf-select="uploadFiles($files)" accept=".xls, .xlsx" multiple>
                                                        <i class="glyphicon glyphicon-import"></i>
                                                        Import Excel Finger
                                                    </button>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-group form-group-sm">
                                                        <label class="col-sm-4 text-form required">
                                                            Tanggal Finger
                                                        </label>
                                                        <div class="col-sm-5">
                                                            <div class="input-group">
                                                                <input
                                                                    class="x-form w100 ng-pristine ng-untouched ng-isolate-scope ng-not-empty ng-valid ng-valid-date"
                                                                    is-open="opened.tanggal" ng-click="toggle($event, 'tanggal')" ng-disabled="is_view"
                                                                    ng-model="filter.tanggal" type="text" uib-datepicker-popup="dd-MM-yyyy" />
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar-check-o">
                                                                    </i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-group-sm">
                                                        <label class="col-sm-4 text-form required">
                                                            Mesin Finger
                                                        </label>
                                                        <div class="col-sm-8">
                                                            <select class="x-form w60" ng-model="filter.ip">
                                                                <option value="">
                                                                    - Pilih IP Mensin Finger -
                                                                </option>
                                                                <option ng-repeat="value in list_mesin_finger" ng-value="'{{ value.ip }}'">
                                                                    ( {{ value.ip }} ) {{ value.nama }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="btn-group pull-right" role="group" style="margin-top: 5px;">
                                                                <button class="btn btn-default" ng-click="reset()">
                                                                    <i class="glyphicon glyphicon-remove">
                                                                    </i>
                                                                    Reset Filter
                                                                </button>
                                                                <button class="btn btn-primary" ng-click="sinkronisasi(filter)">
                                                                    <i class="glyphicon glyphicon-save">
                                                                    </i>
                                                                    Sinkronisasi Finger
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Pencarian Data Finger -->
                                        <div class="col-sm-12">
                                            <div class="panel panel-blank">
                                                <div class="panel-heading">
                                                    <h2 class="text-left float-left">
                                                        Pencarian Data Finger
                                                    </h2>
                                                </div>
                                                <div class="panel-body">
                                                    <input class="x-form w10 " placeholder="Unique ID" st-search="unique_id" type="text">
                                                    <input class="x-form w10 " placeholder="Nama User" st-search="namasiswa" type="text">
                                        
                                                </div>
                                            </div>
                                        </div>

                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <td style="text-align: center; width: 5%;">
                                            No
                                        </th>
                                        <th style="text-align: left;">
                                            Unique ID
                                        </th>
                                        <th style="text-align: left;">
                                            Nama User
                                        </th>
                                        <th style="text-align: left;">
                                            Waktu
                                        </th>
                                        <th style="text-align: center;">
                                            Type User
                                        </th>
                                        <th style="text-align: center;">
                                            Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in displayed">
                                        <td style="text-align:center">
                                            {{$index + 1}}
                                        </td>
                                        <td>
                                            {{row.unique_id}}
                                        </td>
                                        <td>
                                            {{ (row.namasiswa == null) ? "User Belum terdaftar" : row.namasiswa }}
                                        </td>
                                        <td>
                                            {{ row.datetime }}
                                        </td>
                                        <td style="text-align: center;">
                                            {{ row.type_user | uppercase }}
                                        </td>
                                        <td style="text-align: center;">
                                            {{ (row.status == 1 ? "Pulang" : "Masuk") }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="table-pagination" st-items-by-page="50" st-pagination="" st-template="tpl/blocks/pagination.custom.html">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="is_edit">
            <div class="col-md-12">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Master Finger | {{formtitle}}
                        </h2>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal form-validation " name="landaform" novalidate="">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Nama Finger
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.nama" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        IP Address
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.ip" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        PORT
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.port" type="number">
                                        </input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-2 text-form required">
                                        Status Mesin
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="form.is_aktif">
                                            <option ng-selected="form.is_aktif == 1" value="1">Aktif</option>
                                            <option ng-selected="form.is_aktif == 0" value="0">Non Aktif</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                <div class="panel-footer">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="btn-group pull-right" role="group" style="margin-top: 5px;">
                        <button class="btn btn-default" ng-click="cancel()">
                          <i class="glyphicon glyphicon-arrow-left">
                          </i>
                          Kembali
                        </button>
                        <button class="btn btn-primary" ng-click="save(form)" ng-disabled="landaform.$invalid" ng-hide="is_view">
                          <i class="glyphicon glyphicon-save">
                          </i>
                          Simpan
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
