<div ng-controller="importGuruCtrl">
    <div class="container-fluid">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h2 class="text-left float-left">
                    Import Guru
                </h2>
            </div>
          <div class="panel-body">
            <form class="form-horizontal form-validation " name="landaform" novalidate="">
              <div class="col-md-6">
                <div class="col-md-6">
                  <div class="form-group form-group-sm">
                    <label for="file-upload" class="custom-file-upload bg-primary" style="padding: 6px 20px;">
                      <i class="fa fa-cloud-upload"></i> Upload File
                    </label>
                    <div>
                      <input id="file-upload" ng-model="form.gambar" type="file" file-model="form.attachment" accept="*" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
            <div class="panel-heading">

                <div class="btn-group pull-right" role="group" style="margin-top: 5px;">
                    <button class="btn btn-default" ui-sref="site.dashboard">
                        <i class="glyphicon glyphicon-arrow-left">
                        </i>
                        Kembali
                    </button>
                    <button class="btn btn-primary" ng-click="save(form)" ng-hide="is_view" type="submit">
                        <i class="glyphicon glyphicon-save">
                        </i>
                        Simpan
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
