<div ng-controller="perizinanSiswaCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Perizinan Keluar Kelas sssssssssssssssss
                        </h2>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal form-validation " name="landaform" novalidate="">
                            <div class="col-md-8">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-2 text-form required">
                                        Jam Keluar
                                    </label>
                                    <div class="col-sm-3">
                                        <input autofocus="" class="x-form w60" ng-model="form.jam_keluar" type="time">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-2 text-form required">
                                        Jam Kembali
                                    </label>
                                    <div class="col-sm-3">
                                        <input class="x-form w60" ng-model="form.jam_kembali" type="time">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-2 text-form required">
                                        Guru
                                    </label>
                                    <div class="col-sm-6">
                                        <ui-select ng-model="form.m_user_id" theme="bootstrap">
                                            <ui-select-match placeholder="Pilih Guru">
                                                {{$select.selected.nama}} - {{$select.selected.nip}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" repeat="value in list_guru | filter : $select.search">
                                                {{value.nama}} - {{value.nip}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-2 text-form required">
                                        Keterangan
                                    </label>
                                    <div class="col-sm-6">
                                        <textarea class="x-form w60"
                                            ng-model="form.keterangan" rows="4" style="width: 100%">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <button class="btn btn-default pull-right" ng-click="cancel()">
                                <i class="glyphicon glyphicon-arrow-left">
                                </i>
                                Reset
                            </button>
                            <button class="btn btn-primary pull-right" ng-click="save(form)"
                                ng-disabled="landaform.$invalid">
                                <i class="glyphicon glyphicon-save">
                                </i>
                                Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body" id="print">
            <style type="text/css">
                @media print {
                    .table-print {
                        width: 100%;
                        border-collapse: collapse;
                    }

                    td,
                    th {
                        font-size: 10px;
                    }

                    tr {
                        page-break-inside: avoid;
                    }

                    .table-print td,
                    .table-print th {
                        border: 1px solid #000 !important;
                        padding: 2px !important;
                    }

                    table.table-print tr td,
                    table.table-print tr th {
                        page-break-inside: avoid;
                        page-break-after: avoid;
                        page-break-before: avoid;
                    }

                    .text-right {
                        text-align: right;
                    }

                    img {
                        position: absolute;
                    }

                }
            </style>
            
            <div class="row">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Data Perizinan Siswa
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div align="left">
                            <div class="table-responsive">
                                <table border="1" class="table table-striped table-hover table-bordered table-print">
                                    <thead>
                                        <tr>
                                            <th>Nama</th>
                                            <th>Keterangan Pelanggaran</th>
                                            <th>Guru Approve</th>
                                            <th>Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="val in list_izin">
                                            <td>{{val.jam_keluar | date:' HH:mm:ss '}}</td>
                                            <td>{{val.jam_kembali | date:' HH:mm:ss ' }}</td>
                                            <td>{{val.nama}}</td>
                                            <!--<td>{{val.is_approved}}</td>-->
                                            <td style="text-align: center;">
                                                <button type="button" class="btn btn-info " ng-if="val.is_approved == '0' ">
                                                    Belum Disetujui
                                                </button>
                                                <button type="button" class="btn btn-success " ng-if="val.is_approved == '1' ">
                                                    Disetujui
                                                </button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>