<div ng-controller="tpelanggaranCtrl">
    <div class="container-fluid">

        <div class="row" ng-show="is_edit">
            <div class="col-md-12">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Transaksi Pelanggaran {{formtitle}}
                        </h2>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal form-validation " name="landaform" novalidate="">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Siswa
                                    </label>
                                    <div class="col-sm-8">
                                        <ui-select ng-model="form.master_siswa_id" theme="bootstrap"
                                            ng-change="getPelanggaranSiswa(form.master_siswa_id)">
                                            <ui-select-match placeholder="Pilih Siswa">
                                                {{$select.selected.nipd}} - {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                repeat="vals in getBarang | filter : $select.search">
                                                {{vals.nipd}} - {{vals.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Keterangan
                                    </label>
                                    <div class="col-sm-8">
                                        <textarea class="x-form w60"
                                            ng-model="form.keterangan_pelanggaran" rows="4" style="width: 100%">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Attachment Pelanggaran
                                    </label>
                                    <label for="file-upload" class="custom-file-upload bg-primary"
                                        style="margin: 0 14px;">
                                        <i class="fa fa-cloud-upload"></i> Upload File
                                    </label>
                                    <div>
                                        <input id="file-upload" ng-model="form.gambar" type="file"
                                            file-model="form.attachment" accept="*" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <button class="btn btn-default pull-right" ng-click="cancel()">
                                <i class="glyphicon glyphicon-arrow-left">
                                </i>
                                Reset
                            </button>
                            <button class="btn btn-primary pull-right" ng-click="save(form)"
                                ng-disabled="landaform.$invalid">
                                <i class="glyphicon glyphicon-save">
                                </i>
                                Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body" id="print" ng-show="is_view">
            <style type="text/css">
                @media print {
                    .table-print {
                        width: 100%;
                        border-collapse: collapse;
                    }

                    td,
                    th {
                        font-size: 10px;
                    }

                    tr {
                        page-break-inside: avoid;
                    }

                    .table-print td,
                    .table-print th {
                        border: 1px solid #000 !important;
                        padding: 2px !important;
                    }

                    table.table-print tr td,
                    table.table-print tr th {
                        page-break-inside: avoid;
                        page-break-after: avoid;
                        page-break-before: avoid;
                    }

                    .text-right {
                        text-align: right;
                    }

                    img {
                        position: absolute;
                    }

                }
            </style>
            
            <div class="row" ng-show="is_edit">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Data Pelanggaran Siswa
                        </h2>
                    </div>
                    <div class="panel-body">
            
                        <div align="left">
                            <div class="table-responsive">
                                <table border="1" class="table table-striped table-hover table-bordered table-print">
                                    <thead>
                                        <tr>
                                            <th>Nama</th>
                                            <th>Keterangan Pelanggaran</th>
                                            <th>Attachment</th>
                                            <th>Dibuat pada </th>
                                        </tr>
            
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="val in displayed">
                                            <td>{{val.nama_siswa}}</td>
                                            <td>{{val.keterangan_pelanggaran}}</td>
                                            <td style="text-align: center;">
                                                <a ng-if="val.file != null" class="btn btn-primary"
                                                    href="api/storage/attachment_pelanggaran/{{val.file}}"
                                                    target="_blank"> <i class="glyphicon glyphicon-download"></i>  Buka Attachment</a>

                                                <a ng-if="val.file == null" class="btn btn-primary"
                                                    target="_blank"> <i class="glyphicon glyphicon-close"></i> Attachment Tidak Tersedia</a>
                                            </td>
                                            <td class="text-center">
                                                {{val.modified_at}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</div>
</div>