<nav class="navbar navbar-default navbar-fixed-top">
    <div id="logo-box">
        <div class="logo-size">
            <img class="org-img"  id="appLogoImgID" src="img/logos.png"/>
        </div>
    </div>
    <div class="top-header">
        <div class="float-left" style="height: 69px;">
            <h1 class="left-150 title_header">
                SMA MUHAMMDIYAH 1 TAMAN SIDOARJO
            </h1>
        </div>
        <div class="float-right menu-atas" style="padding-top: 20px; margin-right: 45px ">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle white" data-toggle="dropdown" role="button">
                        {{user.nama}}
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu" style="min-width:200px;">
                        <li>
                            <a ui-sref="master.userprofile">
                                Edit Profile
                            </a>
                        </li>
                        <li>
                            <a ng-click="logout()">
                                <i class="glyphicon glyphicon-off ">
                                </i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid bg-white">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
        </div>
        <div class="navbar-collapse collapse " id="navbar">
            <ul class="nav navbar-nav left-125">
                <li>
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button" ui-sref="site.dashboard">
                        <i class="glyphicon glyphicon-home icon text-info-lter">
                        </i>
                        Dashboard
                    </a>
                </li>
                <li class="dropdown" ng-show="user.akses.master_role||user.akses.master_user||user.akses.master_kelas ||user.akses.master_guru || user.akses.master_siswa || user.akses.master_informasi || user.akses.master_prestasi || user.akses.master_jadwal || user.akses.master_raport ">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button">
                        <i class="glyphicon glyphicon-th-large icon text-info-lter">
                        </i>
                        Master
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-show="user.akses.master_role">
                            <a ui-sref="master.role">
                                <i class="glyphicon glyphicon-menu-right">
                                </i>
                                Hak Akses
                            </a>
                        </li>
                        <li ng-show="user.akses.master_user">
                            <a ui-sref="master.user">
                                <i class="glyphicon glyphicon-menu-right">
                                </i>
                                Pengguna
                            </a>
                        </li>
                        <li ng-show="user.akses.master_kelas">
                            <a ui-sref="master.kelas">
                                <i class="glyphicon glyphicon-menu-right">
                                </i>
                                Kelas
                            </a>
                        </li>
                        <li ng-show="user.akses.master_guru">
                            <a ui-sref="master.guru">
                                <i class="glyphicon glyphicon-menu-right">
                                </i>
                                Guru
                            </a>
                        </li>
                        <li ng-show="user.akses.master_siswa">
                            <a ui-sref="master.siswa">
                                <i class="glyphicon glyphicon-menu-right">
                                </i>
                                Siswa
                            </a>
                        </li>
                        <li ng-show="user.akses.master_informasi">
                            <a ui-sref="master.informasi">
                                <i class="glyphicon glyphicon-menu-right">
                                </i>
                                Informasi
                            </a>
                        </li>
                        <li ng-show="user.akses.master_prestasi">
                            <a ui-sref="master.prestasi">
                                <i class="glyphicon glyphicon-menu-right">
                                </i>
                                Prestasi
                            </a>
                        </li>
                        <li ng-show="user.akses.master_jadwal">
                            <a ui-sref="master.jadwal">
                                <i class="glyphicon glyphicon-menu-right">
                                </i>
                                Jadwal
                            </a>
                        </li>
                        <li ng-show="user.akses.master_raport">
                            <a ui-sref="master.raport">
                                <i class="glyphicon glyphicon-menu-right">
                                </i>
                                Raport
                            </a>
                        </li>
                        <li ng-show="user.akses.master_finger">
                            <a ui-sref="master.finger">
                                <i class="glyphicon glyphicon-menu-right">
                                </i>
                                Mesin Finger
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" ng-show="user.akses.transaksi_pelanggaran||user.akses.transaksi_finger||user.akses.transaksi_absensi">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button">
                        <i class="glyphicon glyphicon-briefcase">
                        </i>
                        Transaksi
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-show="user.akses.transaksi_finger">
                            <a ui-sref="transaksi.finger">
                                <i class="glyphicon glyphicon-menu-right">
                                </i>
                                Import Data Finger
                            </a>
                        </li>
                        <li ng-show="user.akses.transaksi_absensi">
                            <a ui-sref="transaksi.absensi">
                                <i class="glyphicon glyphicon-menu-right">
                                </i>
                                Absensi Siswa
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" ng-show="user.akses.laporan_view">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button">
                        <i class="glyphicon glyphicon-send icon text-info-lter">
                        </i>
                        Laporan
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-show="user.akses.laporan_view">
                            <a ui-sref="laporan.artikel">
                                <i class="glyphicon glyphicon-menu-right">
                                </i>
                                Laporan
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-show="user.akses.transaksi_pelanggaran">
                    <a ui-sref="transaksi.pelanggaran" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button">
                        <i class="glyphicon glyphicon-send icon text-info-lter"></i>
                        <!-- Menu untuk guru -->
                        &nbsp; Tambah Pelanggaran
                    </a>
                </li>
                <li ng-show="user.akses.transaksi_acc_perizianan">
                    <a ui-sref="transaksi.perizinan_guru" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button">
                        <i class="glyphicon glyphicon-check icon text-info-lter"></i>
                        <!-- Menu untuk guru -->
                        &nbsp; Acc Perizinan Keluar Kelas Siswa
                    </a>
                </li>
                <li ng-show="user.akses.transaksi_lihat_pelanggaran">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button">
                        <i class="glyphicon glyphicon-th-list icon text-info-lter"></i>
                        <!-- Menu untuk siswa -->
                        &nbsp; Lihat Pelanggaran
                    </a>
                </li>
                <li>
                    <a ui-sref="transaksi.perizinan_siswa" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button">
                        <i class="glyphicon glyphicon-send icon text-info-lter"></i>
                        <!-- Menu untuk guru -->
                        &nbsp; Perizinan Keluar Kelas
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
