<div ng-controller="siswaCtrl">
    <div class="container-fluid">
        <div class="row" ng-show="!is_edit">
            <div class="col-md-12" st-pipe="callServer" st-table="displayed">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Master Siswa
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="x-header">
                            <div class="row">
                                <form class="form-horizontal form-validation" name="landaform">
                                    <div class="col-sm-12 ">
                                        <input class="x-form w10 " placeholder="NIPD" st-search="nipd" type="text">
                                        </input>
                                        <input class="x-form w10 " placeholder="Kelas" st-search="kelas" type="text">
                                        </input>
                                        <input class="x-form w10 " placeholder="Jurusan" st-search="jurusan" type="text">
                                        </input>
                                        <button class="btn btn-warning pull-right" ng-click="downloadFormat()">
                                            <i class="glyphicon glyphicon-download"></i>
                                            Download Format
                                        </button>
                                        <button class="btn btn-success pull-right" type="file" ngf-select="uploadFiles($file)" accept=".xls, .xlsx">
                                            <i class="glyphicon glyphicon-import"></i>
                                            Import
                                        </button>
                                        <button class="btn btn-primary pull-right" ng-click="create()" ng-hide="is_view" style="">
                                            <i class="glyphicon glyphicon-plus">
                                            </i>
                                            Buat Siswa Baru
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">
                                            No
                                        </th>
                                        <th style="text-align: left;">
                                            NIPD
                                        </th>
                                        <th style="text-align: left;">
                                            Nama
                                        </th>
                                        <th style="text-align: left;">
                                            Kelas
                                        </th>
                                        <th style="text-align: left;">
                                            Jenis Kelamin
                                        </th>
                                        <th style="text-align: left;">
                                            Nama Ayah
                                        </th>
                                        <th style="text-align: left;">
                                            Nama Ibu
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-dblclick="view(row)" ng-repeat="row in displayed">
                                        <td>
                                            {{$index + 1}}
                                        </td>
                                        <td>
                                            {{row.nipd}}
                                        </td>
                                        <td>
                                            {{row.nama}}
                                        </td>
                                        <td>
                                            {{row.namakelas}}
                                        </td>
                                        <td>
                                            {{row.jenis_kelamin}}
                                        </td>
                                        <td>
                                            {{row.nama_ayah}}
                                        </td>
                                        <td>
                                            {{row.nama_ibu}}
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right" role="group">
                                                <button class="btn btn-primary btn-table" ng-click="update(row)"  style="" title="Edit">
                                                    <i class="glyphicon glyphicon-pencil">
                                                    </i>
                                                </button>
                                                <button class="btn btn-danger btn-table" ng-click="delete(row);"  title="Delete">
                                                    <i class="glyphicon glyphicon-minus-sign">
                                                    </i>
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="table-pagination" st-items-by-page="10" st-pagination="" st-template="tpl/blocks/pagination.custom.html">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="is_edit">
            <div class="col-md-12">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Master Siswa| {{formtitle}}
                        </h2>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal form-validation " name="landaform" novalidate="">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Kelas
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="x-form w60" id="hakakses" ng-disabled="is_view" ng-model="form.master_kelas_id">
                                            <option value="">
                                                -Pilih Kelas-
                                            </option>
                                            <option ng-repeat="kel in listKelas" ng-selected="{{kel.id == form.master_kelas_id}}" ng-value="{{kel.id}}">
                                                {{kel.kelas}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Nama
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.nama" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Nipd
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.nipd" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Tempat Lahir
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.tempat_lahir" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Tanggal Lahir
                                    </label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <input class="x-form w100 ng-pristine ng-untouched ng-isolate-scope ng-not-empty ng-valid ng-valid-date" is-open="opened.tanggal" ng-click="toggle($event, 'tanggal')" ng-disabled="is_view" ng-model="form.tanggal_lahir" type="text" uib-datepicker-popup="dd-MM-yyyy"/>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar-check-o">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Jenis Kelamin
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="x-form w60"  ng-disabled="is_view" ng-model="form.jenis_kelamin">
                                            <option value="">
                                                -Pilih Jenis Kelamin-
                                            </option>
                                            <option value="L">
                                                Laki-Laki
                                            </option>
                                            <option value="P">
                                                Perempuan
                                            </option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Agama
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.agama" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Alamat
                                    </label>
                                    <div class="col-sm-8">
                                        <textarea class="x-form w60" ng-disabled="is_view" ng-model="form.alamat" placeholder="Alamat Lengkap" rows="4" style="width: 100%">
                                        </textarea>

                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Telepon
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.telepon" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Telepon Orang Tua
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.telepon_ortu" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Nama Ayah
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.nama_ayah" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Nama Ibu
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.nama_ibu" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Tahun Masuk
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.tahun_masuk" type="text">
                                        </input>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="btn-group pull-right" role="group" style="margin-top: 5px;">
                        <button class="btn btn-default" ng-click="cancel()">
                          <i class="glyphicon glyphicon-arrow-left">
                          </i>
                          Kembali
                        </button>
                        <button class="btn btn-primary" ng-click="save(form)" ng-disabled="landaform.$invalid" ng-hide="is_view">
                          <i class="glyphicon glyphicon-save">
                          </i>
                          Simpan
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
