<div ng-controller="prestasCtrl">
    <div class="container-fluid">
        <div class="row" ng-show="!is_edit">
            <div class="col-md-12" st-pipe="callServer" st-table="displayed">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Master Prestasi
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="x-header">
                            <div class="row">
                                <form class="form-horizontal form-validation" name="landaform">
                                    <div class="col-sm-12 ">
                                        <input class="x-form w10 " placeholder="Keterangan" st-search="keterangan" type="text">
                                        </input>
                                        <input class="x-form w10 " placeholder="Nama siswa" st-search="siswa" type="text">
                                        </input>
                                        <button class="btn btn-primary pull-right" ng-click="create()" ng-hide="is_view" style="">
                                            <i class="glyphicon glyphicon-plus">
                                            </i>
                                            Buat Prestasi Baru
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">
                                            No
                                        </th>
                                        <th style="text-align: left;">
                                            Jenis
                                        </th>
                                        <th style="text-align: left;">
                                            Keterangan
                                        </th>
                                        <th style="text-align: left;">
                                            Nama Siswa
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-dblclick="view(row)" ng-repeat="row in displayed">
                                        <td>
                                            {{$index + 1}}
                                        </td>
                                        <td>
                                            {{row.jenis}}
                                        </td>
                                        <td>
                                            {{row.keterangan}}
                                        </td>
                                        <td>
                                            {{row.namasiswa}}
                                        </td>

                                        <td>
                                            <div class="btn-group pull-right" role="group">
                                                <button class="btn btn-primary btn-table" ng-click="update(row)"  style="" title="Edit">
                                                    <i class="glyphicon glyphicon-pencil">
                                                    </i>
                                                </button>
                                                <button class="btn btn-danger btn-table" ng-click="delete(row);"  title="Delete">
                                                    <i class="glyphicon glyphicon-minus-sign">
                                                    </i>
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="table-pagination" st-items-by-page="10" st-pagination="" st-template="tpl/blocks/pagination.custom.html">
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading ">
                        <div class="table-pagination" st-items-by-page="10" st-pagination="" st-template="tpl/blocks/pagination.custom.html">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="is_edit">
            <div class="col-md-12">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Master Prestasi| {{formtitle}}
                        </h2>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal form-validation " name="landaform" novalidate="">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Nama
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.jenis" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Nama Siswa
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="x-form w60" id="hakakses" ng-disabled="is_view" ng-model="form.master_siswa_id">
                                            <option value="">
                                                -Pilih Siswa-
                                            </option>
                                            <option ng-repeat="siswa in listsiswa" ng-selected="{{siswa.id == form.master_siswa_id}}" ng-value="{{siswa.id}}">
                                                {{siswa.nama}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Keterangan
                                    </label>
                                    <div class="col-sm-8">
                                        <textarea class="x-form w60" ng-disabled="is_view" ng-model="form.keterangan" placeholder="Keterangan" rows="4" style="width: 100%">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-sm">
                                        <label for="file-upload" class="custom-file-upload bg-primary" style="padding: 6px 20px;">
                                            <i class="fa fa-cloud-upload"></i> Upload File
                                        </label>
                                        <div>
                                            <input id="file-upload" ng-model="form.gambar" type="file" file-model="form.attachment" accept="*" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="btn-group pull-right" role="group" style="margin-top: 5px;">
                        <button class="btn btn-default" ng-click="cancel()">
                          <i class="glyphicon glyphicon-arrow-left">
                          </i>
                          Kembali
                        </button>
                        <button class="btn btn-primary" ng-click="save(form)" ng-disabled="landaform.$invalid" ng-hide="is_view">
                          <i class="glyphicon glyphicon-save">
                          </i>
                          Simpan
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
