<div ng-controller="userCtrl">
    <div class="container-fluid">
        <div class="row" ng-show="!is_edit">
            <div class="col-md-12" st-pipe="callServer" st-table="displayed">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Master Pengguna
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="x-header">
                            <div class="row">
                                <form class="form-horizontal form-validation" name="landaform">
                                    <div class="col-sm-12 ">
                                        <input class="x-form w10 " placeholder="Nama User" st-search="nama" type="text">
                                        </input>
                                        <input class="x-form w10" placeholder="Username" st-search="username" type="text">
                                        </input>
                                        <select class="x-form w13" placeholder="Status" st-search="type">
                                            <option value="" selected>
                                                - Pilih Hak Akses -
                                            </option>
                                            <option value="admin">
                                                Admin
                                            </option>
                                            <option value="guru">
                                                Guru
                                            </option>
                                            <option value="siswa">
                                                Siswa
                                            </option>
                                            <option value="walimurid">
                                                Wali Murid
                                            </option>
                                        </select>
                                        <button class="btn btn-primary pull-right" ng-click="create()" ng-hide="is_view" style="">
                                            <i class="glyphicon glyphicon-plus">
                                            </i>
                                            Buat Pengguna Baru
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align: left; width: 3%">
                                        No
                                    </th>
                                    <th style="text-align: left;">
                                        Nama
                                    </th>
                                    <th style="text-align: left;">
                                        Username
                                    </th>
                                    <th style="text-align: left;">
                                        Hak Akses
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-dblclick="view(row)" ng-repeat="row in displayed">
                                    <td style="text-align: left; width: 3%">
                                        {{$index + 1}}
                                    </td>
                                    <td style="text-align: left;">
                                        {{row.nama}}
                                    </td>
                                    <td style="text-align: left;">
                                        {{row.username}}
                                    </td>
                                    <td style="text-align: left;">
                                        {{row.nama_akses}}
                                    </td>
                                    <td>
                                        <div class="btn-group pull-right" role="group">
                                            <button class="btn btn-primary btn-table" ng-click="update(row)" title="Edit">
                                                <i class="glyphicon glyphicon-pencil">
                                                </i>
                                            </button>
                                            <button class="btn btn-danger btn-table" ng-click="delete(row);" ng-if="row.type == 'admin'" title="Delete">
                                                <i class="glyphicon glyphicon-minus-sign">
                                                </i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="table-pagination" st-items-by-page="10" st-pagination="" st-template="tpl/blocks/pagination.custom.html">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="is_edit">
            <div class="col-md-12">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Master Pengguna | {{formtitle}}
                        </h2>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal form-validation " name="landaform" novalidate="">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Nama
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.nama" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Hak Akses
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="x-form w60" id="hakakses" ng-disabled="is_view" ng-model="form.master_role_id">
                                            <option value="">
                                                -Pilih Hak Akses-
                                            </option>
                                            <option ng-repeat="kat in listHakakses" ng-selected="{{kat.id == form.master_role_id}}" value="{{kat.id}}">
                                                {{kat.nama}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Username
                                    </label>
                                    <div class="col-sm-8">
                                        <input class="x-form w60" ng-disabled="is_view" ng-model="form.username" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form">
                                        Password
                                    </label>
                                    <div class="col-sm-8">
                                        <input class="x-form w60" ng-disabled="is_view" ng-model="form.password" type="password">
                                        </input>
                                        <p class="block-help" ng-if="!is_create">
                                            * Kosongi jika tidak diubah
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="float-right">
                                    <button class="btn btn-default" ng-click="cancel()">
                                        <i class="glyphicon glyphicon-arrow-left">
                                        </i>
                                        Batal
                                    </button>
                                    <button autosave="" class="btn btn-primary" ng-click="save(form)" ng-hide="is_view">
                                        <i class="glyphicon glyphicon-floppy-save">
                                        </i>
                                        Simpan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
