<div ng-controller="transaksiAbsensiCtrl">
    <div class="container-fluid">
        <div class="row" ng-show="!is_edit">
            <div class="col-md-12" st-pipe="callServer" st-table="displayed">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Absensi Siswa
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="x-header">
                            <div class="row">
                                <form class="form-horizontal form-validation" name="landaform">
                                    <div class="col-sm-12 ">
                                        <input class="x-form w10 " placeholder="NIPD" st-search="nipd" type="text">
                                        </input>
                                        <input class="x-form w10 " placeholder="Kelas" st-search="kelas" type="text">
                                        </input>
                                        <input class="x-form w10 " placeholder="Jurusan" st-search="jurusan"
                                            type="text">
                                        </input>
                                        <!-- Open Setting Jam Absensi -->
                                        <button class="btn btn-success pull-right" ui-sref="master.setting"
                                            ng-if="false">
                                            <i class="glyphicon glyphicon-setting"></i>
                                            Setting Jam Absensi
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">
                                            No
                                        </th>
                                        <th style="text-align: left;">
                                            NIPD
                                        </th>
                                        <th style="text-align: left;">
                                            Nama
                                        </th>
                                        <th style="text-align: left;">
                                            Kelas
                                        </th>
                                        <th style="text-align: left;">
                                            Jenis Kelamin
                                        </th>
                                        <th style="text-align: left;">
                                            Nama Ayah
                                        </th>
                                        <th style="text-align: left;">
                                            Nama Ibu
                                        </th>
                                        <!-- <th>
                                        </th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-class="{ 'row_click': $index == selectedIndex }"
                                        ng-click="absensi(row, $index)" ng-repeat="row in displayed">
                                        <td>
                                            {{$index + 1}}
                                        </td>
                                        <td>
                                            {{row.nipd}}
                                        </td>
                                        <td>
                                            {{row.nama}}
                                        </td>
                                        <td>
                                            {{row.namakelas}}
                                        </td>
                                        <td>
                                            {{row.jenis_kelamin}}
                                        </td>
                                        <td>
                                            {{row.nama_ayah}}
                                        </td>
                                        <td>
                                            {{row.nama_ibu}}
                                        </td>
                                        <td ng-if="false">
                                            <div class="btn-group pull-right" role="group">
                                                <button class="btn btn-primary btn-table" ng-click="update(row)"
                                                    title="Edit">
                                                    <i class="glyphicon glyphicon-pencil">
                                                    </i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="table-pagination" st-items-by-page="10" st-pagination=""
                                st-template="tpl/blocks/pagination.custom.html">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table Absensi -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Data Absensi Siswa
                        </h2>
                    </div>
                    <div class="panel-body">
                        <!-- Rentang Tanggal & Sinkronisasi -->
                        <div class="x-header" ng-if="false">
                            <div class="row">
                                <form class="form-horizontal form-validation" name="landaform">
                                    <div class="col-sm-12 ">
                                        <input class="x-form w10" placeholder="Pilih Rentang Tanggal" date-range-picker
                                            ng-model="range_absensi" options="optionDate" type="text" />
                                        <button class="btn btn-warning pull-right">
                                            <i class="glyphicon glyphicon-refresh"></i>
                                            Sinkronisasi Absensi
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered table-print">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Tanggal</th>
                                        <th colspan="2">Jam Absensi</th>
                                        <th rowspan="2">Keterangan</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align: center;">
                                            Jam Masuk <br>
                                            05:00 - 07:00
                                        </th>
                                        <th style="text-align: center;">
                                            Jam Pulang <br>
                                            15:30 - 17:00
                                        </th>
                                    </tr>
                                </thead17:00>
                                <tbody>
                                    <tr ng-repeat="value in list_absensi">
                                        <td class="text-center">{{ value.tanggal }}</td>
                                        <td class="text-center">{{ value.jam_masuk }}</td>
                                        <td class="text-center">{{ value.jam_pulang }}</td>
                                        <td class="text-center">{{ value.keterangan }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table Absensi -->

    </div>
</div>