<div ng-controller="fingerCtrl">
    <div class="container-fluid">
        <div class="row" ng-show="!is_edit">
            <div class="col-md-12" st-pipe="callServer" st-table="displayed">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Master Mesin Finger
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="x-header">
                            <div class="row">
                                <form class="form-horizontal form-validation" name="landaform">
                                    <div class="col-sm-12 ">
                                        <input class="x-form w10 " placeholder="Nama Finger" st-search="nama" type="text">
                                        <input class="x-form w10 " placeholder="IP" st-search="ip" type="text">
                                        <button class="btn btn-primary pull-right" ng-click="create()" ng-hide="is_view" style="">
                                            <i class="glyphicon glyphicon-plus">
                                            </i>
                                            Tambah Mesin Finger
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <td style="text-align: center; width: 5%;">
                                            No
                                        </th>
                                        <th style="text-align: left;">
                                            Nama Finger
                                        </th>
                                        <th style="text-align: left;">
                                            IP Address
                                        </th>
                                        <th style="text-align: center;">
                                            Status Mesin
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-dblclick="view(row)" ng-repeat="row in displayed">
                                        <td style="text-align:center">
                                            {{$index + 1}}
                                        </td>
                                        <td>
                                            {{row.nama}}
                                        </td>
                                        <td>
                                            {{row.ip}}:{{row.port}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{ (row.is_aktif == 1 ? "Aktif" : "Tidak Aktif") }}
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right" role="group">
                                                <button class="btn btn-primary btn-table" ng-click="update(row)"  title="Edit">
                                                    <i class="glyphicon glyphicon-pencil">
                                                    </i>
                                                </button>
                                                <button class="btn btn-danger btn-table" ng-click="delete(row);"  title="Delete">
                                                    <i class="glyphicon glyphicon-minus-sign">
                                                    </i>
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="table-pagination" st-items-by-page="10" st-pagination="" st-template="tpl/blocks/pagination.custom.html">
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading ">
                        <div class="table-pagination" st-items-by-page="10" st-pagination="" st-template="tpl/blocks/pagination.custom.html">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="is_edit">
            <div class="col-md-12">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Master Finger | {{formtitle}}
                        </h2>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal form-validation " name="landaform" novalidate="">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        Nama Finger
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.nama" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        IP Address
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.ip" type="text">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-4 text-form required">
                                        PORT
                                    </label>
                                    <div class="col-sm-8">
                                        <input autofocus="" class="x-form w60" ng-disabled="is_view" ng-model="form.port" type="number">
                                        </input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-2 text-form required">
                                        Status Mesin
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="form.is_aktif">
                                            <option ng-selected="form.is_aktif == 1" value="1">Aktif</option>
                                            <option ng-selected="form.is_aktif == 0" value="0">Non Aktif</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                <div class="panel-footer">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="btn-group pull-right" role="group" style="margin-top: 5px;">
                        <button class="btn btn-default" ng-click="cancel()">
                          <i class="glyphicon glyphicon-arrow-left">
                          </i>
                          Kembali
                        </button>
                        <button class="btn btn-primary" ng-click="save(form)" ng-disabled="landaform.$invalid" ng-hide="is_view">
                          <i class="glyphicon glyphicon-save">
                          </i>
                          Simpan
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
