<div ng-controller="rolesCtrl">
    <div class="container-fluid">
        <div class="row" ng-show="!is_edit">
            <div class="col-md-12" st-pipe="callServer" st-table="displayed">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Master Hak Akses
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="x-header">
                            <div class="row">
                                <form class="form-horizontal form-validation" name="landaform">
                                    <div class="col-sm-12 ">
                                        <input class="x-form w10 " placeholder="Nama Hak Akses" st-search="nama" type="text">
                                        </input>
                                        <select class="x-form w13" placeholder="Status" st-search="is_deleted">
                                            <option value="0" selected>
                                                Aktif
                                            </option>
                                            <option value="1">
                                                Terhapus
                                            </option>
                                        </select>
                                        <button class="btn btn-primary pull-right" ng-click="create()" ng-hide="is_view" style="">
                                            <i class="glyphicon glyphicon-plus">
                                            </i>
                                            Buat Hak Akses Baru
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <td style="text-align: left; width: 3%">
                                            No.
                                        </th>
                                        <th style="text-align: left;">
                                            Nama Hak Akses
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-dblclick="view(row)" ng-repeat="row in displayed">
                                        <td style="text-align: left; width: 3%">
                                            {{$index + 1}}
                                        </td>
                                        <td>
                                            {{row.nama}}
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right" role="group">
                                                <button class="btn btn-primary btn-table" ng-click="update(row)" title="Edit">
                                                    <i class="glyphicon glyphicon-pencil">
                                                    </i>
                                                </button>
                                                <button class="btn btn-danger btn-table" ng-click="delete(row)" title="Delete">
                                                    <i class="glyphicon glyphicon-minus-sign">
                                                    </i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="table-pagination" st-items-by-page="10" st-pagination="" st-template="tpl/blocks/pagination.custom.html">
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading ">
                        <div class="table-pagination" st-items-by-page="10" st-pagination="" st-template="tpl/blocks/pagination.custom.html">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="is_edit">
            <div class="col-md-12">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Master Hak Akses | {{formtitle}}
                        </h2>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal form-validation" name="landaform">
                            <div class="well" style="margin-bottom: 25px;">
                                <div class="row">
                                    <label class="col-sm-2 control-label text-left text-form required">
                                        Nama Grup
                                    </label>
                                    <div class="col-sm-4">
                                        <input class="x-form w100" ng-disabled="is_view" ng-model="form.nama" type="text">
                                        </input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <div class="panel panels panel-primary">
                                  <div class="panel-heading">
                                    <label class="i-checks">
                                      <input ng-click="checkAll('master', selectMaster)" ng-disabled="is_view" ng-model="selectMaster" type="checkbox">
                                      <i>
                                      </i>
                                      Data Master (Create Read Update Delete)
                                    </input>
                                  </label>
                                </div>

                                <div class="list-group bg-white">
                                  <div class="list-group-item">
                                    <label class="i-checks">
                                      <input ng-disabled="is_view" ng-model="form.akses.master_role" type="checkbox">
                                      <i>
                                      </i>
                                      Hak Akses
                                    </input>
                                  </label>
                                </div>
                                <div class="list-group-item">
                                  <label class="i-checks">
                                    <input ng-disabled="is_view" ng-model="form.akses.master_user" type="checkbox">
                                    <i>
                                    </i>
                                    User
                                  </input>
                                </label>
                              </div>
                              <div class="list-group-item">
                                <label class="i-checks">
                                  <input ng-disabled="is_view" ng-model="form.akses.master_kelas" type="checkbox">
                                  <i>
                                  </i>
                                  Kelas
                                </input>
                              </label>
                            </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_siswa" type="checkbox">
                                            <i>
                                            </i>
                                            Siswa
                                            </input>
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_guru" type="checkbox">
                                            <i>
                                            </i>
                                            Guru
                                            </input>
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_informasi" type="checkbox">
                                            <i>
                                            </i>
                                            Informasi
                                            </input>
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_prestasi" type="checkbox">
                                            <i>
                                            </i>
                                            Prestasi
                                            </input>
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_jadwal" type="checkbox">
                                            <i>
                                            </i>
                                            Jadwal
                                            </input>
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_raport" type="checkbox">
                                            <i>
                                            </i>
                                            Raport
                                            </input>
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_finger" type="checkbox">
                                            <i>
                                            </i>
                                            Mesin Finger
                                            </input>
                                        </label>
                                    </div> 
                          </div>
                        </div>
                      </div>
                                <div class="col-md-4">
                                    <div class="panel panels panel-primary">
                                        <div class="panel-heading">
                                            <label class="i-checks">
                                                <input ng-click="checkAll('transaksi', selectTransaksi)" ng-disabled="is_view" ng-model="selectTransaksi" type="checkbox">
                                                <i>
                                                </i>
                                                Transaksi
                                            </label>
                                        </div>
                                        <div class="list-group bg-white">
                                            <div class="list-group-item">
                                                <label class="i-checks">
                                                    <input ng-disabled="is_view" ng-model="form.akses.transaksi_pelanggaran" type="checkbox">
                                                    <i>
                                                    </i>
                                                    Transaksi Pelanggaran
                                                </label>
                                            </div>
                                            <div class="list-group-item">
                                                <label class="i-checks">
                                                    <input ng-disabled="is_view" ng-model="form.akses.transaksi_perizinan" type="checkbox">
                                                    <i>
                                                    </i>
                                                    Transaksi Perizinan
                                                </label>
                                            </div>
                                            <div class="list-group-item">
                                              <label class="i-checks">
                                                <input ng-disabled="is_view" ng-model="form.akses.transaksi_finger" type="checkbox">
                                                <i>
                                                </i>
                                                Transaksi Tarik Data Finger
                                              </label>
                                            </div>
                                            <div class="list-group-item">
                                              <label class="i-checks">
                                                <input ng-disabled="is_view" ng-model="form.akses.transaksi_absensi" type="checkbox">
                                                <i>
                                                </i>
                                                Transaksi Absensi Absensi Siswa
                                              </label>
                                            </div>
                                            <div class="list-group-item">
                                                <label class="i-checks">
                                                    <input ng-disabled="is_view" ng-model="form.akses.transaksi_acc_perizianan" type="checkbox">
                                                    <i>
                                                    </i>
                                                    Acc Perizinan Keluar siswa
                                                </label>
                                            </div>
                                            <div class="list-group-item">
                                                <label class="i-checks">
                                                    <input ng-disabled="is_view" ng-model="form.akses.transaksi_lihat_pelanggaran" type="checkbox">
                                                    <i>
                                                    </i>
                                                    Lihat Pelanggaran
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                      <div class="col-md-4">
                        <div class="panel panels panel-primary">
                          <div class="panel-heading">
                            <label class="i-checks">
                              <input ng-click="checkAll('laporan', selectLaporan)" ng-disabled="is_view" ng-model="selectLaporan" type="checkbox">
                              <i>
                              </i>
                              Laporan

                            </label>
                          </div>
                          <div class="list-group bg-white">
                            <div class="list-group-item">
                              <label class="i-checks">
                                <input ng-disabled="is_view" ng-model="form.akses.laporan_view" type="checkbox">
                                <i>
                                </i>
                                Laporan Laporan
                              </label>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="panel panels panel-primary">
                          <div class="panel-heading">
                            <label class="i-checks">
                              <input ng-click="checkAll('import', selectImport)" ng-disabled="is_view" ng-model="selectImport"
                                type="checkbox">
                              <i>
                              </i>
                              Import
                      
                            </label>
                          </div>
                          <div class="list-group bg-white">
                            <div class="list-group-item">
                              <label class="i-checks">
                                <input ng-disabled="is_view" ng-model="form.akses.import_guru" type="checkbox">
                                <i>
                                </i>
                                Import Guru
                              </label>
                            </div>
                          </div>
                      
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="btn-group pull-right" role="group" style="margin-top: 5px;">
                        <button class="btn btn-default" ng-click="cancel()">
                          <i class="glyphicon glyphicon-arrow-left">
                          </i>
                          Kembali
                        </button>
                        <button class="btn btn-primary" ng-click="save(form)" ng-disabled="landaform.$invalid" ng-hide="is_view">
                          <i class="glyphicon glyphicon-save">
                          </i>
                          Simpan
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
