<style type="text/css" media="screen">
    .btn-group>.btn:first-child {
    margin-left: 3px;
    margin-bottom: 6px;
     }
</style>
<div ng-controller="dashboardCtrl">
    <div class="container-fluid">
        

        <div class="row" ng-if="user.is_siswa">
            <div class="col-md-12">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h2 class="text-left float-left">
                            Data Absensi Siswa
                        </h2>
                    </div>
                    <div class="panel-body">
                        <!-- Rentang Tanggal & Sinkronisasi -->
                        <div class="x-header" ng-if="false">
                            <div class="row">
                                <form class="form-horizontal form-validation" name="landaform">
                                    <div class="col-sm-12 ">
                                        <input class="x-form w10" placeholder="Pilih Rentang Tanggal" date-range-picker
                                            ng-model="range_absensi" options="optionDate" type="text" />
                                        <button ng-if="false" class="btn btn-warning pull-right">
                                            <i class="glyphicon glyphicon-refresh"></i>
                                            Sinkronisasi Absensi
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered table-print">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Tanggal</th>
                                        <th colspan="2">Jam Absensi</th>
                                        <th rowspan="2">Keterangan</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align: center;">
                                            Jam Masuk <br>
                                            05:00 - 07:00
                                        </th>
                                        <th style="text-align: center;">
                                            Jam Pulang <br>
                                            15:30 - 17:00
                                        </th>
                                    </tr>
                                    </thead17:00>
                                <tbody>
                                    <tr ng-repeat="value in list_absensi">
                                        <td class="text-center">{{ value.tanggal }}</td>
                                        <td class="text-center">{{ value.jam_masuk }}</td>
                                        <td class="text-center">{{ value.jam_pulang }}</td>
                                        <td class="text-center">{{ value.keterangan }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
