<div class="access-main" ng-controller="siteCtrl">
    <section class="clearfix">
        <div class="access-img signin">
        </div>
        <div class="access-form">
            <div class="table-ds">
                <div class="table-cell-ds">
                   <center>
                        <img  width="150" src="img/logo-smamita.jpg"/>
                    </center>
                    <h2 class="str-21 outer-spaced-top-30">
                        Selamat Datang
                    </h2>
                    <form id="login-form" name="landaform">
                        <div class="alert alert-danger wrapper text-center" ng-show="authError">
                            <span ng-bind-html="authError">
                            </span>
                        </div>
                        <label class="smb-16">
                            Username
                        </label>
                        <div class="form-group">
                            <input autofocus="" class="form-control" ng-model="form.username" placeholder="" tabindex="1" type="text" value="">
                            </input>
                        </div>
                        <label class="smb-16">
                            Password
                        </label>
                        <div class="form-group">
                            <input class="form-control" ng-model="form.password" placeholder="" tabindex="2" type="password">
                            </input>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block btn-login" ng-click="login(form)">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
